

.baners{
  width: 100%;
 }
 
 header{
   display: inline-flex;
 }

 .impresso{
  width: 100%;
  height: 100%;
 }
 
 
 #texto-princi{
  margin: 0px;
  padding: 20px; 
  width: 300px;
  font: normal 17px arial, verdana, serif;
 }
 
 header h1{
  color: var(--dourado);
}

header H3{
 color: var(--dourado);
}

 
 @media only screen and ( max-width: 680px){
  

    header{
     flex-direction:column;
    }
  

 
    
   
 }