

:root{
  --dourado:    #f0b914f8;
  --cinza:      #d8d3d0dc; 
  --branco:     #fffffffb;
  
}

*{
 max-width: 1378px;
 margin-left: auto;
 margin-right: auto;

body{ 

   background-color: var(--cinza);
}

header{
 background-color: var(--branco);
 border: 5px solid #c2c2c2;
}

main{
width: 100%; 
display:inline-flex ;
justify-items: center; 

 
 
 }

div{
 margin: 0px;
 width: 0%;
}


 
article{
  text-align: justify;
  margin-bottom: 10px;
  text-indent: 20px;
  font: normal 18px arial, verdana,serif;
  borde: 10px var(--azul-agua);
  
}

 h1{
margin-left: auto;
margin-right: auto;  
 color: var(--dourado);
 font: normal 40px solid arial, verdana,serif;
}

 h2{
 color: var(--dourado);
 font: normal  arial, verdana,serif;
  text-align: center
}