



body{
    margin:0 auto;
    max-width: 1378px;
  

  
}

header{
  background-color: var(--branco);
  text-align: justify;
  margin-bottom: 10px;
  text-indent: 20px;
  font: normal 18px arial, verdana,serif;
}

header h1{
 color: var(--dourado);
}

header h3{
 color: var(--dourado-dessaturado);
}