
:root{
  --dourado:    #f0b914f8;
  --cinza:      #d8d3d0dc; 
  --branco:     #fffffffb;
  --preto:      #171717; 
  -}

body{
  max-width: 1378px;
  padding: 20px;
  display: flex;
  flex-direction:column;
  margin-left: auto;
  margin-right: auto;
}

header{
  display:inline-flex;
  justify-items: center;
  margin: 0px;
  padding: 10px;
  margin-left:auto;
  margin-right: auto;
  
}
header img{
  width: 100%;
  height: 100%;
}


h1{
  color: var(--dourado);
  font: normal 50px arial, verdana, serif;
  margin-left: auto;
  margin-right:auto; 
}

aside{
  display:inline-flex;
  background-color: var(--cinza);
}

aside img{
  width: 100%;
  height: 100%;
}

 h3{
 color:var(--dourado);

}


#Produto ul{
  padding: 10px;
  width: 200px;
  padding: 05px;
  list-style: none;
  text-align: center;
  font: normal 17px arial, verdana,serif; 
  }

  