


:root{
    --dourado:    #f0b914f8;
    --cinza:      #d8d3d0dc; 
    --branco:     #fffffffb;
    --preto:      #171717; 
    --azul:       #3b5998;
    --azul-agua:  #00ffff;  
    --indigo:     #7f37c9; 
    --vermelho:   #ff2992; 
    --amarelo:    #ff9807;
    --verde:      #25D366;
    --brnaco-opco: rgba(206, 191, 191, 0.753) ;
    --font-roboto: 'Roboto', sans-serif;
}

*{
    margin:0 auto;
    max-width: 1378px;
  
}

picture{
    margin: 0px;
}
nav{
    align-items: center;
    display: flex;
   justify-content: space-between;
}

nav img{
    background-color: var(--branco);
    margin: 0px
}

  menu{
    margin: 0px;
  
}



menu li{
    display: inline-flex; 
    padding: 20px; 
    background-color: var(--cinza); 
 }

menu li a{
    flex-wrap: nowarp;
    width: 100%;
    text-decoration: none;
    color: var(--preto);
    font-weight: bolder;
    font-family: var(--font-roboto);
    font-size: 20px;
   
}



menu li:hover{
    background: var(--branco);
    padding: 20px;
}

#iconi-menu{
    display: none;
}

@media only screen and (max-width: 680px){

    nav{
        display:block;
       text-align: center;
    }

    nav img{
     width: 100%;
    }
    
    #iconi-menu{
        display: block;
        font-size: 35px;
    }

    menu{
        display: none;
    }
    menu{     
        margin: 0px;
        padding: 0px;
        align-items: center;
        width: 100%;
       }
       
       menu li{ 
           display: grid;
           text-align: center;
           background-color: var(--cinza);
           border-top: 6px solid var(--branco);
          }
          menu li:hover{
           background: var(--cinza);
           padding: 20px;
           cursor: pointer;    
       }
   
}