


:root{
    --dourado:    #f0b914f8;
    --cinza:      #d8d3d0dc; 
    --branco:     #fffffffb;
    --preto:      #171717; 
    --azul:       #3b5998; 
    --indigo:     #7f37c9; 
    --vermelho:   #ff2992; 
    --amarelo:    #ff9807;
    --verde:      #25D366;
    --braco-opco: rgba(206, 191, 191, 0.753) ;
    --font-roboto: 'Roboto', sans-serif;
}

*{
    margin:0 auto;
    max-width: 1378px;
  
}

nav{

    display: inline-flex;
    justify-content: space-between ;
}

nav img{
    background-color: var(--branco);
   
}

nav img:hover{
    background-color: var(--cinza);
}


menu{
    display: flex;
    align-items: center;

    background-color: var(--branco);
}

menu li{
   display:inline-flex;
   padding: 20px; 
}

menu li a{
    flex-wrap: nowarp;
    width: 100%;
    text-decoration: none;
    color: var(--preto);
    font-weight: bolder;
    font-family: var(--font-roboto);
    font-size: 20px;
}



menu li:hover{
    background: var(--cinza);
    padding: 20px;
}

#iconi-menu{
    display: none;
}
@media screen and (max-width: 650px ){

    @media screen and (max-width: 442px ){

    
        nav{
         margin: 0px;
         padding: 0px;
         display: block;
         align-items:center;
        }
        
         nav img{
          text-align: center;
          width: 100%;
         }
    
         #iconi-menu{
           margin: 10px;  
           display: block;
           font-size: 30px; 
            text-align: center; 
         }
    
      menu{
          display: nane;
          }
      }
        
        menu{     
         margin: 0px;
         padding: 0px;
         display: block;
         align-items: center;
         width: 100%;
        }
        
        menu li{ 
            display: none;
            text-align: center;
            background-color: var(--cinza);
            border-top: 6px solid var(--branco);
           }
           
          }